/*Bruges til opgave 1 eget forsøg*/
.grid-1 {grid-area: header;}
.grid-2 {grid-area: menu;}
.grid-3 {grid-area: main;}
.grid-4 {grid-area: right;}
.grid-5 {grid-area: footer;}

.gridkategori {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main main right'
    'footer footer footer footer footer footer';
    text-align: center;
    background-color: aquamarine;
    padding: 50px;
    gap: 20px;
}

.gridkategori > div{
    background-color: white;}









/*Bruges til opgave 1 lærer forsøg*/
.item-1{grid-area: header;}
.item-2{grid-area: menu;}
.item-3{grid-area: main;}
.item-4{grid-area: right;}
.item-5{grid-area: footer;}

#grid-container{
    display: grid;
    grid-template-areas:
    'header header header'
    'menu main right'
    'footer footer footer';
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px auto 100px;
    height: 100vh;
    grid-gap: 10px;
    background-color: blueviolet;
    padding: 10px;
}

#grid-container > * {
    background-color: blue;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}





/*Bruges til opgave 2*/
.søsterhus {
    height: auto;
    width: 100%;
    max-width: 800px;
}




/*Bruges til opgave 3*/
body {
    background-color: blue;}
    @media screen and (min-width: 601px) 
        {body 
        {background-color: red;}}
    @media screen and (min-width: 960px) 
        {body 
        {background-color: yellow;}}
    @media screen and (min-width: 1400px) 
        {body 
        {background-color: purple;}
}
/*Når den når minimum 601 pixels skifter den farve til rød, 
alt derunder er blåt. Når den er mindst 960 pixels bliver den gul*/

/*min-width = mobile-first / smallest screen first 
max-wicth = computer first / biggest screen first
Dette skyldes at man ikke målretter sig efter en divice, men i stedet en størrelse*/

/*Under 600 - 700 pixels så er det formentlig en mobil, men dette kan man ikke være sikker på/*

